* {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #aaaaff82;
}

img {
    height: 50px;
    padding: 0px;
    margin: 0px;
    
}

.calculator {
    min-width: 400px;
    background-color: #aaa;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
}

.display {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #f6f6f6;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 40px;
    padding: 20px;
}

button {
    background-color: #f6f6f6;
    padding: 15px;
    border: 3px solid black;
    border-radius: 10px;
    transition: 120ms;
    cursor: pointer;
}

button:hover {
    transform: scale(1);
    background-color: lightgrey;
}

.buttons1 {
    display: grid;
    justify-content: right;
    margin-bottom: 10px;
}

.buttons2 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

